.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50rem;
}

.homeTitle {
    color: white;
}

.rightHomeCol {
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.titleRow {
    margin-bottom: 3rem;
}

.googleButton {
    height: 38px;
    cursor: pointer;
}

.googleButton {
    content: url("../../assets/btn_google_signin_dark_normal_web@2x.png");
}

.googleButton:hover {
    content: url("../../assets/btn_google_signin_dark_focus_web@2x.png");
}

.googleButton:active {
    content: url("../../assets/btn_google_signin_dark_pressed_web@2x.png");
}