.registrationDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50rem;
}

.registerButton {
    margin-top: 1rem;
}

.errorText {
    color: #ff5e5e;
}